DJANGO_SECRET_KEY=your_django_secret_key_here # Generate with: python3 -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
WORKOS_API_KEY=sk_your_api_key_here
WORKOS_CLIENT_ID=client_your_client_id_here
DEBUG=False
REDIRECT_URI=http://localhost:8000/auth/callback
CUSTOMER_ORGANIZATION_ID=org_your_organization_id_here
